*{
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}
body {
  color: #333;
  padding-top: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: auto;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

.inner {
  width: 1440px;
  min-width: 600px;
  margin: 0 auto;
  position: relative;
}
.back-to-position{
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right{
  transform: translateX(-150px);
}
.back-to-position.to-left{
  transform: translateX(150px);
}
.back-to-position.to-top{
  transform: translateY(150px);
}

.show .back-to-position{
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0{
  transition-delay: 0s;
}
.show .back-to-position.delay-1{
  transition-delay: 0.3s;

}
.show .back-to-position.delay-2{
  transition-delay: .6s;

}
.show .back-to-position.delay-3{
  transition-delay: 1s;
}

header {
  background: rgba(246, 245, 240, 1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}
#logo{
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
#logo img{
  width: 100%;
}

header > .inner{
  display: flex;
  height: 100px;
  align-items: center;
}

header .sub-menu {
  position: absolute;
  right: 50px;
}
header .sub-menu .menu{
  display: flex;
  align-items: center;
  
}
header .sub-menu .menu li{
  display: flex;
  justify-content: center;
  align-items: center;
}
header .sub-menu .menu >li a {
  display: flex;
  padding: 0 5px;
}

header .search {
  height: 34px;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .search input {
  width: 36px;
  height: 34px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 400ms;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  padding-left: 12px;
}

header .search input:focus {
  width: 190px;
}

header .search>div {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 200ms;
}

header .search.focused>div {
  opacity: 0;
}

header .main-menu {
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 1;
}

header .item{
  padding: 40px 10px;
  position: relative;
}

header .item::before{
  content: "";
  width: 1px;
  height: 14px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .item:nth-child(2)::before{
  display: none;
}

header .item__name {
  padding: 0 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

header .item__contents {
  width: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  display: none;
}

header .item:hover .item__contents {
  display: block;
}

header .item .item__contents .contents__menu {
  background: #f6f5f0;
  padding: 0 0;
}

header .item .item__contents .contents__menu .inner {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

header .item .item__contents .contents__menu .inner > li {
  width: 250px;
  text-align: center;
}
header .item .item__contents .contents__menu .inner > li:first-child{
  margin-left: 70px;
}

header .item .item__contents .contents__menu .inner > li ul li {
  padding: 20px 0;
  font-size: 12px;
  color: #777;
  font-weight: 400;
  cursor: pointer;
}

header .item .item__contents .contents__menu .inner > li ul li:hover{
  color: #333;
  font-weight: 700;
}

.visual {
  position: relative;
  height: 829px;
  overflow: hidden;
}
.visual .swiper{
  width: 1440px;
  height: 840px;
  position: absolute;  
  left: 50%;
  transform: translateX(-50%);
}

.promotion .inner{
  padding-top: 30px;
  height: 550px;
  display: flex;
  justify-content: space-between;
}
.promotion .group a{
  display: block;
  width: 50px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #333;
}
.promotion .group a:hover{
  text-decoration: underline;
}

.oud-collection {
  background-image: url(../imgs/oud_collection.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 686px;
  position: relative;
}
.oud-collection .inner{
  height: 686px;
}
.oud-title {
  height: 350px;
  color: white;
  padding: 50px 0;
}
.oud-title .inner{
  position: relative;
  width: 1440px;
  height: 300px;
  margin: 0 auto;
}

.oud-title .text-group{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.oud-title .text-group .title {
  width: 480px;
  margin: 0 auto;
}
.oud-product {
  height: auto;
}

.oud-product .inner {
  width: 1200px;
  height: 500px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.oud-product .inner:last-child{
  margin-bottom: 80px;
}

.oud-product .inner img {
  cursor: pointer;
}

.alarose {
  background-image: url(../imgs/pexels-dmitry-zvolskiy-1721942.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 800px;
  position: relative;
}
.alarose .inner {
  height: 800px;
  position: relative;
}

.alarose-product .inner {
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: space-around;
}

.alarose-title {
  height: 350px;
  color: white;
  padding: 50px 0;
  margin-bottom: 100px;
}
.alarose-title .inner{
  position: relative;
  width: 1440px;
  height: 400px;
  margin: 0 auto;
}

.alarose-title .text-group{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.alarose-title .text-group .title {
  width: 405px;
  height: 89px;
  margin: 0 auto;
}
.alarose-product {
  height: auto;
  padding-bottom: 50px;
}

.baccarat {
  padding-top: 300px;
  background-image: url(../imgs/baccarat.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 800px;
  position: relative;
}
.baccarat .inner {
  height: 800px;
  position: relative;
}

.baccarat-title .inner {
  height: 450px;
}

.baccarat-title .text-group{
  display: flex;
  justify-content: space-between;
  padding-top : 40px;
}
.baccarat-title .text-group .title {
  width: 400px;
  height: 160px;
  margin: 0 auto;
}
.baccarat-product {
  height: auto;
  padding-bottom: 150px;
}

.baccarat-product .inner {
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}


footer {
  background-color: #353535;
  border-top: 1px solid #333;
}

footer .inner{
  padding: 50px 0 70px 0;
  height: auto;
}

footer .menu{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

footer .menu div{
  position: relative;
  width: 19%;
  text-align: center;
}

footer .menu div span {
  color: #ccc;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  display: block;
  cursor: pointer;
}

footer .menu div a {
  color: #ccc;
  font-size: 12px;
  font-weight: 400;
  padding: 5px;
  display: block;
}

footer .menu div a:hover {
  text-decoration: underline;
}

footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}

